@model NotYourAverageBicepShoppingApp.UIApp.Models.OrderAndCartItems;
@{
    ViewData["Title"] = "New Order After";
}

<h1>Invoice </h1>
<br/>

<h3>Order ID: @Model.Order.OrderId</h3>
<h3>Customer Name: @Model.Order.CustomerName</h3>
<h3>Delivery Address: @Model.Order.CustomerAddress</h3>
<h3>Total Payment: @Model.CartDetailsDTO.Cart.CartPrice</h3>
<hr />

<h2>List of Purchases </h2>
@foreach (var cartItem in Model.CartDetailsDTO.CartItemsWithProducts)
{
    <p>Product Id: @cartItem.Product.ProductId</p>
    <p>Product Name: @cartItem.Product.ProductName</p>
    <p>Product Price: @cartItem.Product.ProductPrice</p>
    <p>Quantity: @cartItem.CartItem.Quantity</p>
    <br/>
}

<a asp-controller="UI" asp-action="AllProducts">Continue Shopping!</a>
<br />
