@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model NotYourAverageBicepShoppingApp.UIApp.Models.Product
@{
    ViewData["Title"] = "OneProduct";
}

<h1>@Model.ProductName</h1>

@if (object.ReferenceEquals(Model, null))
{
    <h3>Product not found for ProductId value</h3>
}
else
{
     <div style="overflow: hidden;">
        <div style="float: left; width: 50%;">
            <!-- Float the image to the left and set its width to 50% -->
            <img src="@Model.ProductImage" alt="@Model.ProductName" width="500px" />
        </div>
        <div style="float: right; width: 50%;">
            <!-- Float the information to the right and set its width to 50% -->
            <h3>Product Information</h3>
            @foreach (var line in Model.ProductOverview.Split(new[] { Environment.NewLine }, StringSplitOptions.RemoveEmptyEntries))
            {
                <p>@line</p>
            }
            <h3>Product Benefits</h3>
            <p>
                <ul>
                    @foreach (var line in Model.ProductBenefits.Split('\n'))
                    {
                        <li>@line</li>
                    }
                </ul>
            </p>
            <br />
            <p>Product Id: @Model.ProductId</p>
            <p>Product Name: @Model.ProductName</p>
            <p>Product Price: @Model.ProductPrice</p>
            <br />
            @{
                var session = HttpContextAccessor.HttpContext.Session;
                var cartAction = session.GetString("CartId") != null ? "ViewCart" : "NewCart";
                var formAction = cartAction == "NewCart" ? Url.Action("NewCart", "UI") : Url.Action("AddProductToCart", "UI");
            }

            @if (cartAction == "ViewCart")
            {
                using (Html.BeginForm("AddProductToCart", "UI", FormMethod.Post))
                {
                    <div>
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" value="1" />
                    </div>

                    <input type="hidden" name="productId" value="@Model.ProductId" />

                    <br />

                    <div>
                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                    </div>

                }
            }
            else if (cartAction == "NewCart")
            {
                using (Html.BeginForm("NewCart", "UI", FormMethod.Post))
                {
                    <div>
                        <label for="quantity">Quantity:</label>
                        <input type="number" id="quantity" name="quantity" min="1" value="1" />
                    </div>

                    <input type="hidden" name="productId" value="@Model.ProductId" />

                    <br />

                    <div>
                        <button type="submit" class="btn btn-primary">Create Cart First!</button>
                    </div>
                }
            }

            <br />

            <div>
                <form asp-controller="UI" asp-action="AllProducts" method="post" style="display: inline-block;">
                    <button type="submit" class="btn btn-primary">Continue Shopping!</button>
                </form>
            </div>

        </div>
        <div style="clear: both;"></div> <!-- Clear the floats to ensure proper layout -->
    </div>


}