@model NotYourAverageBicepShoppingApp.UIApp.Models.CartDetailsDTO;
@{

    ViewData["Title"] = "User Cart";
}


<div align="center">
    <form asp-controller="UI" asp-action="AllProducts" method="post" style="display: inline-block;">
        <button type="submit" class="btn btn-primary">Continue Shopping!</button>
    </form>
    <form asp-controller="UI" asp-action="DeleteAllProductsFromCart" method="post" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Remove all items in Cart!</button>
    </form>
    <form asp-controller="UI" asp-action="NewOrderBefore" method="post" style="display: inline-block;">
        <button type="submit" class="btn btn-success">Checkout Securely Now!</button>
    </form>
</div>

<h1> Your Cart </h1>

@foreach (var cartItem in Model.CartItemsWithProducts)
{
    <div style="overflow: hidden;">
        <div style="float: left;">
            <p>Product ID: @cartItem.Product.ProductId</p>
            <p>Product Name: @cartItem.Product.ProductName</p>
            <p>Product Price: @cartItem.Product.ProductPrice</p>
            <p>Quantity: @cartItem.CartItem.Quantity</p>

            @using (Html.BeginForm("AddDeleteProductFromCart", "UI", FormMethod.Post))
            {
                <div style="display: inline-block;">
                    <label for="quantity">Quantity To Add:</label>
                    <input type="number" id="quantity" name="quantity" min="1" value="1" />
                </div>

                <input type="hidden" name="productId" value="@cartItem.Product.ProductId" />

                <div style="display: inline-block;">
                    <button type="submit" name="action" value="add" class="btn btn-primary" style="background-color: darkorange; border-color: darkorange;">Add quantity</button>
                </div>
            }

            @using (Html.BeginForm("AddDeleteProductFromCart", "UI", FormMethod.Post))
            {
                <div style="display: inline-block;">
                    <label for="quantity">Quantity To Remove:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="@cartItem.CartItem.Quantity" value="1" />
                </div>

                <input type="hidden" name="productId" value="@cartItem.Product.ProductId" />

                <div style="display: inline-block;">
                    <button type="submit" name="action" value="reduce" class="btn btn-danger" style="background-color: darkorange; border-color: darkorange;">Reduce quantity</button>
                </div>
            }

        </div>
        <div style="float: right;">
            <img src="@cartItem.Product.ProductImage" alt="@cartItem.Product.ProductName" width="150px" />
        </div>
        <div style="clear: both;"></div>
    </div>


    <form asp-controller="UI" asp-action="DeleteProductFromCart" method="post" style="display: inline-block;">
        <input type="hidden" name="productId" value="@cartItem.Product.ProductId" />
        <button type="submit" class="btn btn-danger">Remove Product!</button>
    </form>

    <hr />


}

<br />

<h1 align="right">Cart Total: @Model.Cart.CartPrice</h1>

<br />